RewriteEngine On
RewriteBase /

# Route /blessings to birthday.php

RewriteRule ^blessings/?$ index.php [L]

# Route /generate-blessings to generate.php

RewriteRule ^generate-blessings/?$ generate.php [L]
